[*.cs]

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = none

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = none

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = none